.experience {
  break-inside: avoid;
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.25rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
}

.dateRange {
  display: flex;
  flex-direction: row;
  font-style: italic;
}

.subTitle {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.summary {
  margin-bottom: 1rem;
}

.highlights {
  padding-left: 1rem;
}
