.info {
  display: flex;
  align-items: center;
  font-size: 1rem;

  svg {
    fill: #fff;
    margin-right: 5px;
    width: 16px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (prefers-color-scheme: light) {
  .info {
    svg {
      fill: #000;
    }
  }
}
