@page {
  size: A4;
  margin: 20mm;
}

.layout {
  max-width: 170mm; /* 210mm - (20mm * 2) */
  margin: 0 auto;
  padding-bottom: 10mm;
}

.summary {
  margin-bottom: 4mm;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
}

@media print {
  :root {
    color-scheme: light !important;
  }

  a {
    text-decoration: none;
  }

  /* Avoid ugly page breaks */
  h1, h2, h3 {
    break-after: avoid;
  }
}